*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:8rem;
    position: relative;
}
.bg-hero-banner{
    position: relative;
}
.bg-image-circle{
    height: 450px;
    width: 450px;
    border-radius: 50%;
    background: red;
    background-image: url('/public/img/hijab\ girl\ with\ destkop.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 100;
}
.img-overlay{
    height: 450px;
    width: 450px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.600);
    position: absolute;
    top: 0;
    left: 0;
}
.bg-blur-blue{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background: #0C15C4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(100px);
    z-index: 1;
}

.home-content{
    width: 50%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: green; */
    z-index: 100;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.home-content h1{
    font-size: 3.0625rem;
    color: #fff;
    font-weight: 600;
    line-height: 1.1;
}



 mark{
    background: none;
    color: #ddff37;
    font-weight: 400;
}
.heading{
    padding-bottom: 8rem;
    text-align: center;
}
h2{
    color: #fff;
    font-size: 3rem;
}
p{
    font-size: 1.125rem;
    color: #fff;
    /* margin-top: 1rem; */
}

.sec-padding{
    padding: 80px 100px;
}
.flex{
    display: flex;
}
.main-wrapper{
    /* display: flex; */
    background:#181818;
    position: relative;
    z-index: 200;
    margin-top:-100px ;
}

.left{
    width: 40%;
    /* background: green; */
}
.img-container{
    height: 400px;
    width: 300px;
    background: red;
    background-image: url('/public/img/sumaiya.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.right{
    width: 60%;
    color: #fff;
}
.about-content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
h3{
    font-size: 2.4rem;
    font-weight: 600;
}

.Skills-container{
    /* background: green; */
}
.box-container{
    display: flex;
    gap: 3rem;
}
.skills-box{
    /* height: 300px; */
    width: 48%;
    background: #26272a;
    border: 1px solid rgb(242 242 242 / 30%);
    border-radius: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    gap: 1rem;
}
.feature-icon {
    width: 7.5rem;
    margin-bottom: 1rem;
    display: block;
}
.path-bleu {
    color: #0c15c4;
}
.path-yellow {
    color:#ddff37;
}
h4{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.4;
}
.skill-wrapper{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.skill{
    padding: 10px 20px;
    font-size: 1.125rem;
    background: #26272A;
    border: 2px solid #f2f2f21b;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.skill-wrapper i{
    color: #ddff37;
}


.project-wrapper{
    display: flex;
    gap: 2rem;
    color: #fff;
}
.proj-box-wrapper{
    width: 100%;
}
.project-box{
    /* width: 32%; */
    /* height: 700px; */
    width: calc(100% / 3);
    padding: 15px;
    background: #26272A;
    border: 2px solid #f2f2f21b;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.project-box .img-container{
    height: 230px;
    width: 100%;
    background: rebeccapurple;
    border-radius: 20px;
}
h5{
    font-size:1.6rem;
    color: #ddff37;
    font-weight: 600;
}

.tech-stack{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.tech-stack span{
    font-size: 1rem;
    background: #26272A;
    border: 1px solid #f2f2f21b;
    border-radius: 30px;
    padding: 5px 10px;
}