
.main-container{
  height: 100%;
  width: 100%;
  background-color: #181818;
  position: relative;
  /* padding: 30px; */
}
#scrolling-container{
position: relative;
background-color: #181818;
z-index: 300;
margin-top: 40rem;
}